<div class="container">
    <p class="header mt-5">{{username}}'s Timeline</p>
    <hr/>
    
    <div class="jumbotron mt-3" >
        <div class="spinner-container" *ngIf = "!timelineDataArr">
            <div class="spinner-load spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="timeline" *ngIf = "timelineDataArr && timelineDataArr.length > 0">
            <div class="timeline-section" *ngFor = "let timeline of timelineDataArr.reverse()">
                <div class="timeline-date">
                    <p>
                        {{timeline.dateObj | dateStr | date:'EEEE, MMM d, y'}}
                    </p>
                </div>
                <div class="timeline-detail" *ngFor = "let details of timeline.body" (click) = "onFetchDetail(details.entryId)">
                    <p>{{details.activity | activity}} {{details.type}} entry titled '{{details.title}}'</p>
                </div>
            </div>
        </div>
    </div>
    <p [@emptyState] *ngIf = "timelineDataArr && timelineDataArr.length == 0" class="empty mt-5">Nothing to see here!</p>
</div>